/*memo
 . : class指定　（※)
 # : id指定
 tag : タグ指定
 ※e.g
 .dot.current なら <div class="dot current">ここ
 .popup td.col1 なら　<div class="popup"><table><tr><td class="col1">ここ
*/

body {
    position: relative;
    padding:1em;
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "ヒラギノ角ゴ Pro W3" , 'Hiragino Kaku Gothic W3 JIS2004', "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    font-size: 10px;
    color: #118FE6;
    
    background-color: #0F1230;
    background: -moz-linear-gradient(top, #0F1230, #000); /* mozilla */
    background: -webkit-gradient(linear, center top, center bottom, from(#0F1230), to(#000)); /* Webkit */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0F1230', endColorstr='#000'); /* IE5.5以上 */

}

#filters a {
	display: inline-block;
    text-align: center;
    width: 120px;
    padding: 3px 5px;
        
    color: #118FE6;
    font-size: 1.5em;
    background: none;
    cursor: pointer;    
}
#filters a.select { 
    background: none;
    color: #00FEFD; 
    border: 1px solid #00FEFD;
}


.linkLabel{
    font-size: 1.0em;
    opacity: 0.0;     /*最初は透明*/
}

.linkLabel.highlight{
    fill: #E551FA;
    opacity: 1.0;   /*ハイライト時に表示*/
}


#Arrow {
    fill: #fff;
}

.link {
    fill: none;
    stroke: #00FEFD;
    stroke-width: 1.5px;
    opacity: 1.0;
}
.link.Flat {
    stroke: #00FEFD;
}
.link.Flat.highlight {
    stroke: #E551FA;
    /*stroke-width: 2.5px;*/
}
.link.Arrow {
    stroke: #00FEFD;
}
.link.Arrow.highlight {
    stroke: #E551FA;
    /*stroke-width: 2.5px;*/
}

.link.Disconnect {
  stroke-dasharray: 0,2 1;
}
.link.Disconnect.highlight {
    stroke: #E551FA;
    /*stroke-width: 2.5px;*/
}

.node circle {
    fill: #0F1230;
    stroke: #00FEFD;
    stroke-width: 1.5px;
    opacity: 1.0;
}

.node.highlight circle{
    fill: #0F1230;
    stroke: #E551FA;
    stroke-width: 3.0px;
}

.node circle.mid-highlight{
    fill: #0F1230;
    stroke: #E551FA;
}

.node text{
    font-size: 1.0em;
    font-weight: bold;
}

.node text.label {
    fill: #00FEFD;
}

.node.highlight text.label {
    fill: #E551FA;
    font-size: 1.5em;
}

.node text.label_bg {
    fill: #000;
    stroke: #000; /* ふちどりの色 */
    stroke-width: 0.3em; /* ふちどりのふとさ */
}

.node.highlight text.label_bg {
    font-size: 1.5em;
}

