body{
    background: #000;
    font-family:'Meiryo UI', Helvetica, Arial, sans-serif;
    font-size: 10px;
    margin: 0px, 0px, 0px, 0px;
}
#canvas {
    width: 100%;
    position: absolute;
}
#canvas text {
    fill: #fff;
    font-size: 15px;
    font-weight: bold;
}